@media screen and (min-width: 768px){
    #mobilemenu {
      display: none;
    }

    .sidebar{
      display: flex;
    }
  }


  @media screen and (max-width: 768px){
    #mobilemenu.show {
      display: flex;
    }

    .sidebar{
      display: none;
    }
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
